#footer{
    width: 90vw;
    height: 40vh;
    border: 2px solid whitesmoke;
    background-color: blue;
    border-radius: 20px;
   position: relative;
   top: 79vh;
   color: whitesmoke;
}
#foot-head{
    position: absolute;
    top: 8vh;
    left:20vw;
}
#foot-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 10px;
  margin: 25px;
}
.foot-nav a {
  text-decoration: none;
  color: whitesmoke;
}
.foot-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 25px;
  border-radius: 10px;
  gap: 10px;
}
#foot{
    position: absolute;
    top: 8vh;
    right: 20vw;
    
}
#copyright{
    color: black ;
    text-align: center;
    padding-bottom: 10px;
}
@media (max-width:480px) {
  #foot-head{
    position: absolute;
    top: 8vh;
    left:10vw;
}

  #foot-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 10px;
  margin-top: 6vh;
}
 .foot-nav {
  display: flex;
  flex-direction: column;
  align-items:center;
  border-radius: 10px;
  gap: 10px;
  position: absolute;
  top: 6vh;
} 
#foot-middle{
  position: absolute;
right: 10vw;
}
#foot{
  display: none;
}
#copyright{
display: none;
}
}