#Main_container {
    width: 90vw;
    min-height: 60vh;
    background-color: whitesmoke;
    box-shadow: 0 0 12px rebeccapurple;
    border: none;
    border-radius: 20px;
    position: relative;
    top: 10vh;
    left: 4vw;
    
display: grid;
grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));;

    gap: 20px;
    padding: 20px;
}


#main2 {
    background-color: whitesmoke;
   
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 20px;
    padding: 15px;
}
#main2:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px green;
    border: none;
    cursor: pointer;
}


#main21 img {
    width: 180px;
    height: 180px;
    border-radius: 20px;
    object-fit: cover;
}
#main22 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

#main22 h3 {
    color: blue;
}
#main22 h3:hover{
  transform: scale(1.1);
}